
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-cards-container {
  width: calc(100vw - 224px);
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.main-card-box {
  height: 504px;
  width: 976px;

  display: flex;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}